<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="panel panel-info">
    <div class="panel-body"></div>
      <h1>
        <!-- {{ title }} -->
      </h1>
      <div class="jumbotron">
          <h1>QUOTES</h1>
          <hr>
      </div>
      
     <ul>
       <li *ngFor='let quote of quotes'>{{quote.name}}</li>
       <li *ngFor='let quote of quotes'>{{quote.description}}</li>
       <li *ngFor='let quote of quotes'>{{quote.author}}</li>
       <button class="btn btn-success btn-md"  (click)='like(i)'>like</button>

       <button class="btn btn-danger btn-md" (click)='dislike(i)'>dislike</button>

       <button class="btn btn-info btn-md" (click)='delete(i)'>delete</button>
     </ul>
     <app-quote-form></app-quote-form>
     <app-quote></app-quote>


 </div>
</div>



