<!--The content below is only a placeholder and can be replaced.-->

<div class="container-fluid">
        <div style="text-align:center">
          <div class="panel panel-info">
            <div class="panel-body"></div>
              <h1>
                <!-- {{ title }} -->
              </h1>
              <div class="jumbotron">
                  <h1>QUOTES</h1>
                  <hr>
              </div>
            <div class="container">
              <div class="row">
                <div *ngFor="let quote of quotes; let i = index">
             
               <div id="{{i}}">
                 <p>{{quote.name}}</p>
                 <p>{{quote.description}}</p>
                  <p>{{quote.author}}</p>
                  <button class="btn btn-success btn-md"  (click)='like(i)'>like</button>
                  {{quote.likes}}
                  <button class="btn btn-danger btn-md" (click)='dislike(i)'>dislike</button>
                  {{quote.dislike}}
                  <button class="btn btn-info btn-md" (click)='delete(i)'>delete</button>
        
              </div>
                </div>
            </div>
            </div>
             <app-quote-form (isComplete)= 'deleteQuote($event,i)'></app-quote-form>
        
        
         </div>
        </div>
        </div>
        
        
        
        