/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: skyblue;
}

.jumbotron{
    background-color: black;
    font-family: fantasy;
    text-emphasis-color: red;
    font-size: 40px;
}

