<div class="container-fluid">
    <div class="row">
        <form #quoteForm='ngForm'>
            <!-- Name Form -->
            <div class="form-group">

                <label for="name">Author's Name</label>
                <input type="text" required class="form-control" id="name" [(ngModel)]="newQuote.name" name="name" #name="ngModel" required>

                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    <p>Name is required></p>
                </div>

            </div>

            <!-- Quote Form -->
            <div class="form-group">

                <label for="description">Quote</label>
                <textarea class="form-control" id="description" rows="4" [(ngModel)]="newQuote.description" name="description" #description="ngModel"required></textarea>

                <div [hidden]="description.valid || description.pristine" class="alert alert-danger">
                    <p>Quote is required</p>
                </div>
                
            </div>

            <button type="submit" class="btn btn-info btn-lg">Add Quote</button>
            
        </form>
    </div>
</div>